@tailwind base;
@tailwind components;
@tailwind utilities;


/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
    perspective: 1000px;
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .group-hover\:rotate-3d:hover {
    transform: rotateX(30deg) rotateY(30deg) rotateZ(30deg);
  }
  
  .transition-transform {
    transition: transform 0.5s;
  }
